h1{
	text-align: center;
	font-family: 'DynaPuff', cursive;
	font-style: bold;
	color: ;
}



body{
	color:#e7e7eb;
	background-color: #333631;
	/*background-image:url("./pictures/tft_3.jpEg");*/
	font-family: 'DynaPuff', cursive;
	text-align: center;
	padding: 3px;

}


table{
	border-collapse: collapse;
}

.synergy{
	background-color: #333431;
	color: #e7e7eb;
}


.name .a:hover{
	transform: scale(1.3, 1.3);
}

.Description{
	margin: 10px 50px 20px 0;
}
