h1{
	text-align: center;
}
#synergy
{
	width: 100%;
}

#synergy td, #synergy th
{
    border: 1px dotted gray;
    text-align: center;
}

#synergy th
{
    color: pink;
    background-color: blue;
}

#synergy tr.name td
{
    background-color: yellow;
}